@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root, .App {
  height: 100%;
  width: 100%;
  overflow: auto;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #22d3ee #0f172a;
}

/* For Webkit browsers */
body::-webkit-scrollbar {
  width: 10px;
  background: #0f172a;
}
body::-webkit-scrollbar-thumb {
  background: #22d3ee;
  border-radius: 8px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #06b6d4;
}

/* Ensure main content is scrollable if overflow */
.app-content {
  overflow-y: auto;
  height: 100vh;
}
